@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4B2D1C;
}

body{
	background:#fcfcfc;
}
h2{
	color: #4B2D1C;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 8px;
	padding-top:20%;
	font-size: 1.6rem;
}
p{
	text-align:center;
	letter-spacing: 2px;
	line-height: 1.5rem;
	padding-top:25px;
}