@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a img{
	padding: 0px 20px 40px 20px;
}
.main{
	display:flex;
	margin-top: 58px;
	margin-right: 20px;
}
.main_nav{
	width: 25%;
}
body {
  background:#fcfcfc;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
	height:auto;
}

nav ul{
	line-height: 4rem;
	padding-left: 30%;
	list-style: none;
}
nav ul li a{
	color: #4B2D1C;
	font-size: 1.2rem;
}

#slider {
    width: 100%;
    height: 90vh;/*スライダー全体の縦幅を画面の高さいっぱい（90vh）にする*/
    border-radius: 30px;
}